
<!-- TODO: Add categories for bars etc... -->
<main class="overflow-scroll justify-content-start">

    <!-- For spacing 'space-between' of main tag -->
    <div class="d-flex flex-column justify-content-center align-items-center p-2 w-100">
        <form action="/search" class="position-relative w-75">
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            <label class="w-100">
                <input type="text" minlength="0" required name="name" pattern="[A-Za-z0-9äöüÄÖÜ\s]{1,}" class="form-control unfelbar-border unfelbar-label-search"
                       placeholder="Find your bar">
            </label>
            <img src="/images/icons/search.svg" alt="search_icon" class="position-absolute top-50 end-0 translate-middle-y mx-2">
        </form>

        <div class="d-flex justify-content-around w-100 my-2">
            <form class="d-inline-block" action="/">
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Studenten">
            </form>
            <form class="d-inline-block" action="/">
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Cocktails">
            </form>
            <form class="d-inline-block" action="/">
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                <input type="submit" class="m-1 rounded unfelbar-tag" value="Livemusik">
            </form>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
    <% bars.forEach( (bar) => { %>
        <div class="unfelbar-bierdeckel" onclick="window.location='/bar/<%= bar.id%>'">
            <img src="/images/bars/<%= bar.picture%>" class="card-img-top rounded-2" alt="<%= bar.name%>_picture">
            <div class="unfelbar-bierdeckel-label">
                <h5 class="card-title m-1"><%= bar.name; %></h5>
            </div>
        </div>
    <% }); %>
    </div>

</main>
