<main>
    <!-- For spacing 'space-between' of main tag -->
    <div class="unfelbar-dummy m-1"></div>

    <div class="d-flex flex-column justify-content-center align-items-center px-2 w-100">
        <!-- Search bar -->
        <div class="d-flex flex-column justify-content-center align-items-center px-2 w-100">
            <form action="/search" class="position-relative w-75">
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                <label class="w-100">
                    <input type="text" minlength="0" required pattern="[A-Za-z0-9äöüÄÖÜ\s]{1,}" name="name" class="form-control unfelbar-border unfelbar-label-search" placeholder="Find your bar">
                </label>
                <img src="/images/icons/search.svg" alt="search_icon" class="position-absolute top-50 end-0 translate-middle-y mx-2">
            </form>
        </div>
    </div>

    <!-- Top Bierdeckel -->
    <div class="d-flex flex-column flex-md-row justify-content-around px-2 w-100">
        <div class="d-none d-md-flex">
            <div class="unfelbar-bierdeckel">
                <img src="/images/bars/<%= bar.picture; %>" class="unfelbar-bierdeckel-image" alt="bar_example_1">
                <div class="unfelbar-bierdeckel-label">
                    <h5 class="card-title m-1"><%= bar.name; %></h5>
                </div>
            </div>
        </div>
        <h2 class="d-block d-md-none text-center"><%= bar.name%></h2>
        <div>
            <div class="p-1 unfelbar-border rounded mt-2">
                <h3>Öffnungszeiten</h3>
                <p><%= bar.openingHours; %></p>
            </div>
            <div class="p-1 unfelbar-border rounded mt-2">
                <h3>Beschreibung</h3>
                <p><%= bar.description; %></p>
            </div>

        </div>
    </div>

    <div class="d-flex align-items-center justify-content-around my-1 overflow-scroll">
        <button class="unfelbar-button" onclick="window.location='/tour/add/<%= bar.id; %>'">Zur Tour hinzufügen</button>
        <% if(req.me) { if(req.me.isOwnerOf === bar.id){ %>
            <button class="unfelbar-button mx-1 my-md-2" onclick="window.location='/bar/<%= bar.id; %>/edit'">Bar
                bearbeiten
            </button>
            <button class="unfelbar-button mx-1 my-md-2" onclick="window.location='/event/new'">Event erstellen</button>
        <% }} %>
        <button class="unfelbar-button mx-1 my-md-2" onclick="window.location='/bar/<%= bar.id; %>/items'">Zur Karte
        </button>
    </div>

        <!-- Big tickets -->
    <div class="container-fluid p-0 mt-1 d-none d-lg-block">
        <div class="d-flex flex-column flex-nowrap" style="overflow-x: auto;">
            <% barevents.forEach((e) => { %>
                <div class="container ticket align-self-center d-flex w-100" style="min-height: 320px;" onclick='window.location=<%if(req.me){%>"/event/<%= e.id%>"<%}else{%>"/login"<%}%>'>
                    <div class="item ticket unfelbar-border">
                        <div class="item-right">
                            <h2 class="num"><%= e.date.getDate(); %></h2>
                            <p class="day"><%= e.date.toLocaleString('default', {month: 'long'}); %></p>
                            <span class="up-border d-none d-md-block"></span>
                            <span class="down-border d-none d-md-block"></span>
                        </div>
                        <!-- end item-right -->

                        <div class="item-left">
                            <h2 class="title"><%= e.name; %></h2>
                            <p class="event"><%= e.description; %></p>

                            <div class="sce d-none d-md-block">
                                <div class="icon d-none d-md-block">
                                    <i class="fa fa-money d-none d-md-block"></i>
                                </div>
                                <p><%= e.price; %>€ p.P. | Verfügbar: <%= e.ticketVolume - e.ticketsSold; %> </p>
                            </div>
                            <div class="fix d-none d-md-block"></div>
                            <div class="loc d-none d-md-block">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p><%= bar.address; %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

        <!-- Small tickets -->
    <div class="container-fluid p-0 mt-1 d-md-none">
        <div class="d-flex flex-row flex-nowrap" style="overflow-x: auto;" >
            <% barevents.forEach((e) => { %>
                <div class="unfelbar-bierdeckel " style="height: 200px" onclick='window.location=<%if(req.me){%>"/event/<%= e.id%>"<%}else{%>"/login"<%}%>'>
                    <div class="">
                        <h5 class="card-title m-1"><%= e.name; %></h5>
                        <p class="m-1">Date: <%= e.date.getDate(); %> <%= e.date.toLocaleString('default', {month: 'long'}); %></p>
                        <p class="m-1">Price: <%= e.price; %>€ p.P.</p>
                        <p class="m-1">Verfügbar: <%= e.ticketVolume - e.ticketsSold; %></p>
                        <br>
                        <p class="m-1 text-center">Get your Ticket now!</p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- For spacing 'space-between' of main tag -->
    <div class="unfelbar-dummy m-1"></div>
</main>


<!-- Todo: Center text somewhat good
 implement better shopping buttons
 take care of meinBereich
 Daten einfügen-->
